:root {
  --primary: 0 163 255;        /* Neon blue */
  --primary-light: 51 187 255; /* Hover / glow */
  --primary-dark: 0 122 204;   /* Active / borders */

  --background-light: 255 255 255;
  --background-dark: 33 37 41;

  --gray-50: 250 245 242;
  --gray-100: 245 240 238;
  --gray-200: 230 224 222;
  --gray-300: 213 208 206;
  --gray-400: 166 160 158;
  --gray-500: 119 114 111;
  --gray-600: 87 82 79;
  --gray-700: 70 64 62;
  --gray-800: 45 39 37;
  --gray-900: 30 25 22;
  --gray-950: 17 12 10;

  /* Icon colors */
  --icon-default: 119 114 111;  /* gray-500 */
  --icon-muted: 166 160 158;    /* gray-400 */
  --icon-hover: 70 64 62;       /* gray-700 */
  --icon-active: 0 163 255;     /* primary (neon blue) */

svg {
  color: rgb(var(--icon-default));
}
nav svg {
  color: rgb(var(--icon-muted));
}

nav a:hover svg {
  color: rgb(var(--icon-hover));
}

nav a.active svg {
  color: rgb(var(--icon-active));
}
button svg {
  color: rgb(var(--icon-muted));
}

button:hover svg {
  color: rgb(var(--icon-default));
}

}
